In [1]:
import pandas as pd

## Reading in the dataframe

In [2]:
#1. creating a variable containing the tables from the desired html link
tables = pd.read_html('https://www.genealogybranches.com/censuscosts.html', header=0)
tables

[   Census Year  Total Population     Census Cost Average Cost Per Person
 0         1790           3929214         $44,377              1.13 cents
 1         1800           5308483         $66,109              1.24 cents
 2         1810           7239881        $178,445              2.46 cents
 3         1820           9633822        $208,526              2.16 cents
 4         1830          12866020        $378,545              2.94 cents
 5         1840          17069458        $833,371              4.88 cents
 6         1850          23191876      $1,423,351              6.14 cents
 7         1860          31443321      $1,969,377              6.26 cents
 8         1870          38558371      $3,421,198              8.87 cents
 9         1880          50155783      $5,790,678             11.54 cents
 10        1890          62979766     $11,547,127             18.33 cents
 11        1900          76303387     $11,854,000             15.54 cents
 12        1910          91972266     $15,968,000             17.07 cents
 13        1920         105710620     $25,117,000             23.76 cents
 14        1930         122775046     $40,156,000             32.71 cents
 15        1940         131669275     $67,527,000             51.29 cents
 16        1950         151325798     $91,462,000             60.44 cents
 17        1960         179323175    $127,934,000             71.34 cents
 18        1970         203302031    $247,653,000                   $1.22
 19        1980         226542199  $1,078,488,000                   $4.76
 20        1990         248718301  $2,492,830,000                  $10.02
 21        2000         281421906    $4.5 Billion                  $15.99
 22       2010*         308745538     $13 Billion                  $42.11,
 Empty DataFrame
 Columns: [The U.S. population reached 300,000,000 on 17 October 2006. At the end of 2015, it was at 319,958,045. At the end of 2017, it was at 326,971,209. Source (except 2010)... Gauthier, Jason G., Measuring America: The Decennial Censuses From 1790-2000, (US Bureau of the Census/Dept of Commerce), Washington: US Government Printing Office, 2002, Appendix A, Page A-1.The numbers in the fourth column are not included in the book and were added by me. * The 2010 census cost was taken from GAO (U.S. Government Accountability Office) report number GAO-11-496T, 2010 Census: Preliminary Lessons Learned Highlight the Need for Fundamental Reforms (April 6, 2011): "At about $13 billion, 2010 was the costliest U.S. Census in history." The official census day for 2010 was April 1, 2010. The total population figure (308,745,538) was announced by the U.S. Census Bureau on Dec. 21, 2010. See: 2010 Census - Resident Population Data The 1940 Census 1940 census records were released on April 2, 2012. For details see:1940 Census Records and InformationFor information on census records for other years see: U.S. Census Records 1790-1940]
 Index: []]

In [3]:
#2 Number of Html tables
len(tables)

2

In [4]:
#Our data is in the 0th index
for table in tables:
    index = 0
    print(index, table)
    index +=1

0    Census Year  Total Population     Census Cost Average Cost Per Person
0         1790           3929214         $44,377              1.13 cents
1         1800           5308483         $66,109              1.24 cents
2         1810           7239881        $178,445              2.46 cents
3         1820           9633822        $208,526              2.16 cents
4         1830          12866020        $378,545              2.94 cents
5         1840          17069458        $833,371              4.88 cents
6         1850          23191876      $1,423,351              6.14 cents
7         1860          31443321      $1,969,377              6.26 cents
8         1870          38558371      $3,421,198              8.87 cents
9         1880          50155783      $5,790,678             11.54 cents
10        1890          62979766     $11,547,127             18.33 cents
11        1900          76303387     $11,854,000             15.54 cents
12        1910          91972266     $15,968,000             17.07 cents
13        1920         105710620     $25,117,000             23.76 cents
14        1930         122775046     $40,156,000             32.71 cents
15        1940         131669275     $67,527,000             51.29 cents
16        1950         151325798     $91,462,000             60.44 cents
17        1960         179323175    $127,934,000             71.34 cents
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22       2010*         308745538     $13 Billion                  $42.11
0 Empty DataFrame
Columns: [The U.S. population reached 300,000,000 on 17 October 2006. At the end of 2015, it was at 319,958,045. At the end of 2017, it was at 326,971,209. Source (except 2010)... Gauthier, Jason G., Measuring America: The Decennial Censuses From 1790-2000, (US Bureau of the Census/Dept of Commerce), Washington: US Government Printing Office, 2002, Appendix A, Page A-1.The numbers in the fourth column are not included in the book and were added by me. * The 2010 census cost was taken from GAO (U.S. Government Accountability Office) report number GAO-11-496T, 2010 Census: Preliminary Lessons Learned Highlight the Need for Fundamental Reforms (April 6, 2011): "At about $13 billion, 2010 was the costliest U.S. Census in history." The official census day for 2010 was April 1, 2010. The total population figure (308,745,538) was announced by the U.S. Census Bureau on Dec. 21, 2010. See: 2010 Census - Resident Population Data The 1940 Census 1940 census records were released on April 2, 2012. For details see:1940 Census Records and InformationFor information on census records for other years see: U.S. Census Records 1790-1940]
Index: []

In [5]:
df = tables[0]
df

   Census Year  Total Population     Census Cost Average Cost Per Person
0         1790           3929214         $44,377              1.13 cents
1         1800           5308483         $66,109              1.24 cents
2         1810           7239881        $178,445              2.46 cents
3         1820           9633822        $208,526              2.16 cents
4         1830          12866020        $378,545              2.94 cents
5         1840          17069458        $833,371              4.88 cents
6         1850          23191876      $1,423,351              6.14 cents
7         1860          31443321      $1,969,377              6.26 cents
8         1870          38558371      $3,421,198              8.87 cents
9         1880          50155783      $5,790,678             11.54 cents
10        1890          62979766     $11,547,127             18.33 cents
11        1900          76303387     $11,854,000             15.54 cents
12        1910          91972266     $15,968,000             17.07 cents
13        1920         105710620     $25,117,000             23.76 cents
14        1930         122775046     $40,156,000             32.71 cents
15        1940         131669275     $67,527,000             51.29 cents
16        1950         151325798     $91,462,000             60.44 cents
17        1960         179323175    $127,934,000             71.34 cents
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22       2010*         308745538     $13 Billion                  $42.11

## Data Quality Issues:
### -'Census Year' column has one value that is not an int (astericks after 2010)
### - 'Census Cost' column has unnecesary dollar signs, commas, and words ('Billions')
### - The data in the 'Average Cost Per Person' column is inconsistent (some numbers have 'cents' after, not the same units-cents vs dollars)

In [6]:
#Function to cleanse year column with tests
def cleanse_year(string):
    return string.replace('*', '')

print(cleanse_year('19*85'))
print(cleanse_year('201*2'))

1985
2012

In [7]:
#Applying cleanse_year function to the Census Year column
df['Census Year'] = df.apply(lambda row: cleanse_year(row['Census Year']), axis=1)
df

   Census Year  Total Population     Census Cost Average Cost Per Person
0         1790           3929214         $44,377              1.13 cents
1         1800           5308483         $66,109              1.24 cents
2         1810           7239881        $178,445              2.46 cents
3         1820           9633822        $208,526              2.16 cents
4         1830          12866020        $378,545              2.94 cents
5         1840          17069458        $833,371              4.88 cents
6         1850          23191876      $1,423,351              6.14 cents
7         1860          31443321      $1,969,377              6.26 cents
8         1870          38558371      $3,421,198              8.87 cents
9         1880          50155783      $5,790,678             11.54 cents
10        1890          62979766     $11,547,127             18.33 cents
11        1900          76303387     $11,854,000             15.54 cents
12        1910          91972266     $15,968,000             17.07 cents
13        1920         105710620     $25,117,000             23.76 cents
14        1930         122775046     $40,156,000             32.71 cents
15        1940         131669275     $67,527,000             51.29 cents
16        1950         151325798     $91,462,000             60.44 cents
17        1960         179323175    $127,934,000             71.34 cents
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22        2010         308745538     $13 Billion                  $42.11

In [13]:
#Function to cleanse cost column with tests
def cleanse_cost(string):
    string = string.replace(',', '')
    string = string.replace('$', '')
    string = string.replace('Billion', '')
    return string

print(cleanse_cost('$156,683,234 Billion'))
print(cleanse_cost('$1,000,000'))

156683234
1000000

In [14]:
#Applying cleanse_cost function to the Census Year column
df['Census Cost'] = df.apply(lambda row: cleanse_cost(row['Census Cost']), axis=1)
df

   Census Year  Total Population Census Cost Average Cost Per Person
0         1790           3929214       44377              1.13 cents
1         1800           5308483       66109              1.24 cents
2         1810           7239881      178445              2.46 cents
3         1820           9633822      208526              2.16 cents
4         1830          12866020      378545              2.94 cents
5         1840          17069458      833371              4.88 cents
6         1850          23191876     1423351              6.14 cents
7         1860          31443321     1969377              6.26 cents
8         1870          38558371     3421198              8.87 cents
9         1880          50155783     5790678             11.54 cents
10        1890          62979766    11547127             18.33 cents
11        1900          76303387    11854000             15.54 cents
12        1910          91972266    15968000             17.07 cents
13        1920         105710620    25117000             23.76 cents
14        1930         122775046    40156000             32.71 cents
15        1940         131669275    67527000             51.29 cents
16        1950         151325798    91462000             60.44 cents
17        1960         179323175   127934000             71.34 cents
18        1970         203302031   247653000                   $1.22
19        1980         226542199  1078488000                   $4.76
20        1990         248718301  2492830000                  $10.02
21        2000         281421906        4.5                   $15.99
22        2010         308745538         13                   $42.11

In [16]:
#Function to cleanse the average cost column with tests
def cleanse_avg_cost(string):
    if string[-1] == 's':
        string = str(float(string.replace(' cents', ''))/100)
    else:
        string = string.replace('$', '')
    
    return string

print(cleanse_avg_cost('13.67 cents'))
print(cleanse_avg_cost('$8.24'))

0.1367
8.24

In [17]:
#Applying cleanse_avg_cost function to the Census Year column
df['Average Cost Per Person'] = df.apply(lambda row: cleanse_avg_cost(row['Average Cost Per Person']), axis=1)
df

   Census Year  Total Population Census Cost Average Cost Per Person
0         1790           3929214       44377                  0.0113
1         1800           5308483       66109                  0.0124
2         1810           7239881      178445                  0.0246
3         1820           9633822      208526                  0.0216
4         1830          12866020      378545                  0.0294
5         1840          17069458      833371    0.048799999999999996
6         1850          23191876     1423351    0.061399999999999996
7         1860          31443321     1969377                  0.0626
8         1870          38558371     3421198     0.08869999999999999
9         1880          50155783     5790678     0.11539999999999999
10        1890          62979766    11547127                  0.1833
11        1900          76303387    11854000     0.15539999999999998
12        1910          91972266    15968000                  0.1707
13        1920         105710620    25117000                  0.2376
14        1930         122775046    40156000                  0.3271
15        1940         131669275    67527000                  0.5129
16        1950         151325798    91462000      0.6043999999999999
17        1960         179323175   127934000                  0.7134
18        1970         203302031   247653000                    1.22
19        1980         226542199  1078488000                    4.76
20        1990         248718301  2492830000                   10.02
21        2000         281421906        4.5                    15.99
22        2010         308745538         13                    42.11

In [20]:
#export the datarame to csv
df.to_csv('census_cost_cleansed.csv', index=False)

In [21]:
#Checking to make sure cleansed file is read in properly
newDF = pd.read_csv('census_cost_cleansed.csv')
newDF

    Census Year  Total Population   Census Cost  Average Cost Per Person
0          1790           3929214  4.437700e+04                   0.0113
1          1800           5308483  6.610900e+04                   0.0124
2          1810           7239881  1.784450e+05                   0.0246
3          1820           9633822  2.085260e+05                   0.0216
4          1830          12866020  3.785450e+05                   0.0294
5          1840          17069458  8.333710e+05                   0.0488
6          1850          23191876  1.423351e+06                   0.0614
7          1860          31443321  1.969377e+06                   0.0626
8          1870          38558371  3.421198e+06                   0.0887
9          1880          50155783  5.790678e+06                   0.1154
10         1890          62979766  1.154713e+07                   0.1833
11         1900          76303387  1.185400e+07                   0.1554
12         1910          91972266  1.596800e+07                   0.1707
13         1920         105710620  2.511700e+07                   0.2376
14         1930         122775046  4.015600e+07                   0.3271
15         1940         131669275  6.752700e+07                   0.5129
16         1950         151325798  9.146200e+07                   0.6044
17         1960         179323175  1.279340e+08                   0.7134
18         1970         203302031  2.476530e+08                   1.2200
19         1980         226542199  1.078488e+09                   4.7600
20         1990         248718301  2.492830e+09                  10.0200
21         2000         281421906  4.500000e+00                  15.9900
22         2010         308745538  1.300000e+01                  42.1100